name: Authentication Test Workflow

on:
  release:
    types: [published]
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Login on Docker
        env:
          DOCKER_USER: ${{secrets.DOCKER_USER}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
        run: |
            docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
      - name: Build Image
        working-directory: ./
        run: docker build -t allcarsinone/auth_service:${{ github.sha }} -t allcarsinone/auth_service:latest .
      - name: Push to Docker Step 1
        run: docker push allcarsinone/auth_service:${{ github.sha }}
      - name: Push to Docker Step 2
        run: docker push allcarsinone/auth_service:latest
