name: Authentication Test Workflow

on:
  pull_request:
    types: [opened]
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        with:
          node-version: 18.18.0
      - name: Install dependencies
        working-directory: ./
        run: npm install
      - name: Run Tests
        working-directory: ./
        run: npm test
        

  
